body {




    font-family: Arial, sans-serif;




    margin: 0;




    padding: 0;




    background-color: #f0f0f0;




}




header {




    background-color: #000000;




    box-shadow: 0px 3px 10px #464646;




}







.nav-bar {




    display: flex;




    justify-content: space-between;




    padding: 1.5rem 6rem;




}







.imagelogo{
    width: 120px;
    height: 46px;
}







.nav-list {




    display: flex;




    align-items: center;




}







.nav-list ul {




    display: flex;




    justify-content: center;




    list-style: none;




}







.nav-item {




    margin: 0 15px;




}







.nav-link {




    text-decoration: none;




    font-size: 1.15rem;




    color: #fff;




    font-weight: 400;




}







.login-button button {




    border: none;




    padding: 10px 15px;




    border-radius: 5px;




    background-color: #0187a7;




}







.login-button button a {




    text-decoration: none;




    color: #fff;




    font-weight: 500;




    font-size: 1.1rem;




}







.mobile-menu-icon {




    display: none;




}







.mobile-menu {




    display: none;




}






main {






    max-width: 600px;




    margin: 30px auto;




    padding: 60px;




    background-color: #fff;




    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);




    border-radius: 5px;




}







form label {




    display: block;




    margin-bottom: 5px;




    font-weight: bold;




}







form input,




form textarea {




    width: 100%;




    padding: 10px;




    margin-bottom: 15px;




    border: 1px solid #ccc;




    border-radius: 4px;




}







form button {




    background-color: #0187a7;




    color: #fff;




    padding: 10px 20px;




    border: none;




    border-radius: 8px;




    cursor: pointer;




}







form button:hover {




    background-color: #000000;




}







footer {

   

    position: absolute;




    bottom: 0px;




    width: 100%;




    background-color: #24252a;




    color: #fff;




    text-align: center;




    padding: 15px 0;

   

}